@import "tailwindcss";

body {
  font-family: "Libertinus Sans", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@custom-variant hover {
  &:hover {
    @slot;
  }
}
